openapi: 3.1.0
info:
  title: Invoice & Document API
  version: "1.0.0"
  description: API for managing invoices and supporting documents in the logistics industry.

tags:
  - name: Invoice Management
    description: Endpoints for creating, retrieving, and managing invoices.
  - name: Document Management
    description: Endpoints for uploading, and managing supporting documents.

paths:
  /invoice:
    post:
      operationId: createInvoice
      summary: Create an Invoice
      description: |
        ## Request        
        As a Carrier, I want to Create an Invoice and send shipment information for a particular 
        Shipper or 3rd Party.        
        - In a request, the Carrier MUST provide a shipmentID provided by the Shipper or 
          3rd Party participant. 
          - LTL Consideration: Pro Number may be valid for proper tracking to the 
            BOL generation process. 
        - In a request, the Carrier MUST identify themselves, so the Shipper/3rd Party is 
          aware of who is sending the Invoice information
            - Types of universal identifiers: DOT Number or MC number.
        - In a request, the Carrier MUST designate the Invoice Number to properly record 
          the instance of payment for the Shipper/3rd party.
        - In a request, the Carrier MUST designate a Date associated with their shipment
          so that proper payment intervals are followed to by the Shipper/3rd party.
        - In a request, the Carrier MUST specify an amount for proper payment tracking 
          and agreed upon terms specified in the tender. 
        
        ## Response        
        - In a response, NMFTA MUST provide a response for successful or failure 
          to transfer identification and values.
        - In a response, the Shipper/3rd Party MUST provide an acceptance or 
          failure of transfer.
      tags: [ Invoice Management ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './schemas/schemas.yaml#/components/schemas/Invoice'
      responses:
        '201':
          description: Invoice created successfully.
          content:
            application/json:
              schema:
                $ref: './schemas/schemas.yaml#/components/schemas/SuccessMessage'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'

  /invoice/{uniqueID}:
    get:
      operationId: getInvoice
      summary: Get an Invoice
      description: |
        As a Carrier, I want to retrieve an Invoice by its Invoice Number.
        - In a request, the Carrier MUST provide the Unique Identifier, Shipment ID, DOT Number, MC Number and Invoice Number to retrieve the specific invoice details.
      tags:
        - Invoice Management
      parameters:
        - name: uniqueID
          in: path
          required: true
          description: Unique identifier for the invoice to update.
          schema:
            type: string
        - name: shipmentID
          in: query
          required: true
          description: Unique identifier for the shipment associated with the invoice.
          schema:
            type: string
        - name: DOT
          in: query
          required: true
          description: Department of Transportation identifier
          schema:
            type: string
        - name: MC
          in: query
          required: true
          description: Motor Carrier Identifier
          schema:
            type: string
        - name: invoiceNumber
          in: query
          required: true
          description: Invoice number to filter the invoice.
          schema:
            type: string

      responses:
        '200':
          description: Invoice retrieved successfully
          content:
            application/json:
              schema:
                $ref: './schemas/schemas.yaml#/components/schemas/Invoice'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'

    put:
      operationId: updateInvoice
      summary: Update (Replace) an Invoice
      description: |
        Fully replaces an existing invoice with the provided data.
        - The request MUST provide the Unique Identifier, Shipment ID, DOT Number, MC Number and Invoice Number to update the specific invoice.
        - The request body must contain the complete invoice object.
      tags: [ Invoice Management ]
      parameters:
        - name: uniqueID
          in: path
          required: true
          description: Unique identifier for the invoice to update.
          schema:
            type: string
        - name: shipmentID
          in: query
          required: true
          description: Unique identifier for the shipment associated with the invoice.
          schema:
            type: string
        - name: DOT
          in: query
          required: true
          description: Department of Transportation identifier
          schema:
            type: string
        - name: MC
          in: query
          required: true
          description: Motor Carrier Identifier
          schema:
            type: string
        - name: invoiceNumber
          in: query
          required: true
          description: Invoice number to filter the invoice.
          schema:
            type: string
        - name: attributes
          in: query
          required: false
          description: Optional attributes related to the invoice.
          schema:
            type: array
            items:
              $ref: './schemas/schemas.yaml#/components/schemas/Attribute'
        - name: comments
          in: query
          required: false
          description: Optional comments related to the invoice.
          schema:
            type: array
            items:
              $ref: './schemas/schemas.yaml#/components/schemas/Comment'

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './schemas/schemas.yaml#/components/schemas/Invoice'

      responses:
        '200':
          description: Invoice updated successfully
          content:
            application/json:
              schema:
                $ref: './schemas/schemas.yaml#/components/schemas/SuccessMessage'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'

    delete:
      operationId: deleteInvoice
      summary: Delete an Invoice
      description: |
        Deletes an existing invoice by its unique identifier.
        - The request MUST provide the Unique Identifier, Shipment ID, DOT Number, MC Number and Invoice Number to update the specific invoice.
        - The request MAY include a reason for deletion.
      tags: [ Invoice Management ]
      parameters:
        - name: uniqueID
          in: path
          required: true
          description: Unique identifier for the invoice to delete.
          schema:
            type: string
        - name: shipmentID
          in: query
          required: true
          description: Unique identifier for the shipment associated with the invoice.
          schema:
            type: string
        - name: DOT
          in: query
          required: true
          description: Department of Transportation identifier
          schema:
            type: string
        - name: MC
          in: query
          required: true
          description: Motor Carrier Identifier
          schema:
            type: string
        - name: invoiceNumber
          in: query
          required: true
          description: Invoice number to filter the invoice.
          schema:
            type: string
        - name: comments
          in: query
          required: false
          description: Optional comments related to the invoice deletion.
          schema:
            $ref: './schemas/schemas.yaml#/components/schemas/Comment'

      responses:
        '204':
          description: Invoice deleted successfully. No content returned.
          content:
            application/json:
              schema:
                $ref: './schemas/schemas.yaml#/components/schemas/SuccessMessage'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'

  ######## Document Management Endpoints ########
  /document:
    post:
      operationId: uploadDocument
      summary: Upload Supporting Documents
      description: |
        ## Request
        As a Carrier, I want to upload supporting documents for an invoice.
        - In a request, the Carrier MUST provide the Invoice Number to associate the document with the correct invoice.
        - In a request, the Carrier MUST designate the document type so that the acceptance of the response can be 
          tracked on the Shipper/3rd Party side. This can range from the Invoice to the supported twenty-four (24) document types.
        - The request MUST include the document file in PDF, TIF, JPEG, or PNG format.
        - The maximum file size MUST not exceed 25 MB.
        - In a request, the Carrier MUST specify the document type so that the 
          acceptance of the response can be tracked on the Shipper/3rd Party side. This 
          can range from the Invoice to the supported twenty-four (24) document types.
            - Bill of Lading (BOL)
            - Catalog Page (CAT)
            - Communications & Correspondence (COMM)
            - Contract (CON)
            - Customer Specific Rules Tariff (RULE)
            - Dimension Certificate (DIM)
            - Detention Receipt (DTR)
            - Discount Matrix (DIS)
            - Freight Bill (FRB)
            - Fuel Tables (FUEL)
            - Invoice (INV)
            - Inspection Certificate (INSP)
            - Letter of Authority (LOA)
            - Lumper Receipt (LPR)
            - Material Safety Data Sheet (MSDS)
            - Packing Slip (PAC)
            - Photos (IMG)
            - Proof of Delivery (POD)
            - Quote (QUO)
            - Residential Dispute Support (RESI)
            - Spec Sheet (SPEC)
            - Scale (SCL)
            - Statement Bill (STB)
            - Weight & Inspection Certificate (W&I)
        
        ## Response
          - In a response, NMFTA MUST provide a response for successful or failure to transfer identification and values.
          - In a response, the Shipper/3rd Party MUST provide an acceptance or failure of transfer.
      tags: [ Document Management ]

      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './schemas/schemas.yaml#/components/schemas/DocumentRequest'

      responses:
        '201':
          description: Document uploaded successfully
          content:
            application/json:
              schema:
                $ref: './schemas/schemas.yaml#/components/schemas/SuccessMessage'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'

  /document/{invoiceNumber}:
    get:
      operationId: getDocument
      summary: Retrieve Supporting Documents
      description: |
        As a Carrier, I want to retrieve supporting documents for an invoice by its Invoice Number.
        - In a request, the Carrier MUST provide the Invoice Number, DOT, and MC to retrieve the specific documents.
        - The request MAY include one or more documentType values as a query array to filter the results.
      tags: [ Document Management ]
      parameters:
        - name: invoiceNumber
          in: path
          required: true
          description: Invoice number to filter the documents.
          schema:
            type: string
        - name: DOT
          in: query
          required: true
          schema:
            type: string
            description: Department of Transportation identifier.
        - name: MC
          in: query
          required: true
          schema:
            type: string
            description: Motor Carrier Identifier.
        - name: documentType
          in: query
          required: false
          schema:
            type: array
            items:
              $ref: './schemas/schemas.yaml#/components/schemas/DocumentType'
            style: form
            explode: true
            description: One or more document types to be retrieved (e.g., Invoice, BOL).

      responses:
        '200':
          description: Document(s) retrieved successfully
          content:
            application/json:
              schema:
                $ref: './schemas/schemas.yaml#/components/schemas/DocumentResponse'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'

    delete:
      operationId: deleteDocument
      summary: Delete Supporting Documents or Files
      description: |
        Delete all supporting documents for an invoice, or specific files within the documents.
        - The request MUST provide the Invoice Number, DOT, and MC to delete the specific document.
        - If no fileIds are provided, all documents for the invoice will be deleted.
        - If fileIds are provided, only those files will be deleted from the documents.
        - The request MAY include a comment for deletion.
      tags: [ Document Management ]
      parameters:
        - name: invoiceNumber
          in: path
          required: true
          description: Invoice number to identify the documents.
          schema:
            type: string
        - name: DOT
          in: query
          required: true
          schema:
            type: string
            description: Department of Transportation identifier.
        - name: MC
          in: query
          required: true
          schema:
            type: string
            description: Motor Carrier Identifier.
        - name: fileIds
          in: query
          required: false
          description: List of file IDs to delete. If omitted, all documents for the invoice will be deleted.
          schema:
            type: array
            items:
              type: string
              style: form
              explode: true
        - name: comments
          in: query
          required: false
          description: Optional comments related to the document deletion.
          schema:
            $ref: './schemas/schemas.yaml#/components/schemas/Comment'

      responses:
        '204':
          description: Document(s) or file(s) deleted successfully. No content returned.
          content:
            application/json:
              schema:
                $ref: './schemas/schemas.yaml#/components/schemas/SuccessMessage'
        '400':
          $ref: '#/components/responses/ErrorResponse'
        '404':
          $ref: '#/components/responses/ErrorResponse'

components:
  responses:
    ErrorResponse:
      description: Error response
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/ResultStatusCode'
  schemas:
    ResultStatusCode:
      title: Result Status Code
      description: Numerical codes describing any logical status outcomes.  Not all codes apply to this API, but are included to encourage adoption of these standards across API specifications.
      oneOf:
        - const: "100"
          description: Informational General Information
        - const: "200"
          description: Warning Non-Critical Error
        - const: "300"
          description: Failure Data Error
        - const: "400"
          description: Failure Formatting Error
        - const: "500"
          description: Failure Business Logic Error
        - const: "600"
          description: Failure Carrier Specific Error
        - const: "700"
          description: Failure Unknown Reason